<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true" android:theme="@style/AppTheme" android:supportsRtl="true" android:enableOnBackInvokedCallback="false">
    <meta-data android:name="den_device_id_api_url" android:value="https://push.dengage.com"/>
    <meta-data android:name="den_event_api_url" android:value="https://event.dengage.com"/>
    <meta-data android:name="den_geofence_api_url" android:value="https://push.dengage.com/geoapi/"/>
    <meta-data android:name="den_in_app_api_url" android:value="https://push.dengage.com"/>
    <meta-data android:name="den_push_api_url" android:value="https://push.dengage.com"/>
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="false"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <meta-data android:name="fetch_real_time_in_app_api_url" android:value="https://tr-inapp.lib.dengage.com/"/>
    <service android:name="com.dengage.sdk.push.FcmMessagingService" android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>
    <activity android:name=".MainActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.App.SplashScreen" android:exported="true" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="exp+expodengageexample"/>
      </intent-filter>
    </activity>
    <receiver android:name="com.dengage.expodengageexample.DengageExpoPushReceiver" android:exported="false">
      <intent-filter>
        <action android:name="com.dengage.push.intent.RECEIVE"/>
        <action android:name="com.dengage.push.intent.OPEN"/>
        <action android:name="com.dengage.push.intent.DELETE"/>
        <action android:name="com.dengage.push.intent.ACTION_CLICK"/>
        <action android:name="com.dengage.push.intent.ITEM_CLICK"/>
        <action android:name="com.dengage.push.intent.CAROUSEL_ITEM_CLICK"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>